<div class="modal" id="taskModal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Nova tarefa</h2>

      <button id="closeModal">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="modal-body">
      <input
        type="text"
        id="taskTitle"
        placeholder="Título da tarefa"
      />

      <textarea
        id="taskDescription"
        placeholder="Descrição"
      ></textarea>
    </div>

    <div class="modal-footer">
      <button id="cancelTask">Cancelar</button>
      <button id="saveTask">Salvar</button>
    </div>
  </div>
</div>