<nav
  class="nav-links"
  id="navLinks"
  aria-label="Navegação principal">

  <ul>

    <li>
      <a href="#" class="nav-item active">
        <i class="fa-solid fa-house"></i>
        <span>Início</span>
      </a>
    </li>

    <li>
      <a href="#" class="nav-item">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Minha Rotina</span>
      </a>
    </li>

    <li>
      <a href="#" class="nav-item">
        <i class="fa-solid fa-face-smile"></i>
        <span>Emoções</span>
      </a>
    </li>

  </ul>

</nav>