<section
  class="period-tabs"
  role="tablist"
  aria-label="Período do dia">

  <button
    class="period-tab"
    role="tab"
    data-period="manha"
    aria-selected="true">

    <i class="fa-solid fa-sun"></i>
    Manhã
  </button>

  <button
    class="period-tab"
    role="tab"
    data-period="tarde"
    aria-selected="false">

    <i class="fa-solid fa-cloud-sun"></i>
    Tarde
  </button>

  <button
    class="period-tab"
    role="tab"
    data-period="noite"
    aria-selected="false">

    <i class="fa-solid fa-moon"></i>
    Noite
  </button>

</section>